#publisher and receiver type
RECEIVER_TYPE=rabbitmq
PUBLISHER_TYPE=rabbitmq

#rabbitmq config
RABBITMQ_URL=amqp://localhost
QUEUE_NAME=order-queue
EXCHANGE_NAME=orders
ROUTING_KEY=""

#aws config
ACCESS_KEY_ID=""
SECRET_ACCESS_KEY=""
SESSION_TOKEN=""
REGION="us-east-1"

#sns config
TOPIC_ARN="arn:aws:sns:us-east-1:000000000000:ORDERS-CREATED"

#sqs config
QUEUE_URL="http://localhost.localstack.cloud:4566/000000000000/orders-process"